<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.brendon.productivityapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".ProductivityMonitor"
            android:label="@string/app_name"

            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

        <activity android:name=".MainActivity" />
        <activity
            android:name=".MessagingActivity"
            android:label="@string/activity_messaging_name" />
        <activity android:name=".SnoozeDialog"
            android:theme="@style/Theme.Transparent"
            android:label=""/>
        <activity android:name=".StatsActivity" />
        <activity android:name=".GoalView" />
        <activity android:name=".EditGoalActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".IntroductionMessageActivity" />
        <activity android:name=".EditPlan" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>